.product {
  position: relative;
  margin: 0 0 1rem;
}
.container-product {
  border: 1px solid #eceff1;
  box-shadow: 0 10px 20px rgb(0 0 0 / 3%);
  border-radius: 12px;
  box-sizing: border-box;
  cursor: pointer;
  background: #fff;
}
.bar {
  padding: 0.5rem;
}
.product img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}
.product img.save-product {
  width: 18px;
}
.product h1 {
  line-height: 1rem;
  height: 2.5rem;
  line-height: 1.25rem;
  overflow: hidden;
  color: #546e7a;
  font-weight: 400;
  font-size: .875rem;
}
.product-price {
  display: flex;
}
.product-price img {
  margin-left: auto;
}
.product-price h1 {
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1rem;
  height: 1rem;
  margin: 0.5rem 0;
}
.container-product-quantity {
  position: relative;
  border-radius: 1rem;
}
.product-quantity {
  position: absolute;
  display: none;
  top: -12px;
  right: 0;
  left: 0;
  padding: 0 0.5rem 0.5rem;
  border-left: 1px solid #ffa400;
  border-bottom: 1px solid #ffa400;
  border-right: 1px solid #ffa400;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: 100;
  background: #fff;
}
.adder {
  display: flex;
  width: 100%;
  flex-shrink: 0;
}
.adder>span {
  width: 108px;
  height: 36px;
  display: flex;
  align-items: center;
}
.adder>span span:first-of-type {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.adder>span span {
  width: 36px;
  height: 36px;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 36px;
  border: 1px solid #ddd;
  cursor: pointer;
}
.adder input {
  width: 36px;
  height: 36px;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  line-height: 36px;
  border: 1px solid #ddd;
  border-right: none;
  border-left: none;
  background: #f6f7f8;
  outline: none;
}
.adder>span span:last-of-type {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.col4, .col5 {
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}
.col5 {
  max-width: 20%;
  flex: 0 0 20%;
}
.container {
  display: flex;
  max-width: 1272px;
  margin: 0 auto;
}
img.addtocart {
  width: 40px;
}